{%- liquid
  if card_product and card_product != empty
    assign theme_st = settings
    assign show_sale = theme_st.show_sale
    assign show_new = theme_st.show_new
    assign show_pre_order = theme_st.show_pre_order
    assign show_sold_out = theme_st.show_sold_out
    assign option_name = 'Color'
    assign sale = false
    assign sold_out = false
    assign pre_order = false
    assign product_avail = false
    assign product_qty = 0
    assign sale_badge_addons = theme_st.sale_badge_addons
    assign countdown_style = theme_st.countdown_style
    assign scrolling_text = theme_st.scrolling_text
    assign sale_badge_type = theme_st.sale_badge_type
    if card_product.has_only_default_variant == false
      if type != 'price_badges'
        if card_product.options_with_values[0].name == option_name
          if card_product.options_with_values.size < 2
            for variant in card_product.variants limit: 1
              assign product_qty = product_qty | plus: variant.inventory_quantity
              assign product_avail = variant.available
              assign product_management = variant.inventory_management
              assign compare_at_price = variant.compare_at_price
              assign price = variant.price
            endfor
            if product_management != null
              if product_qty < 1
                if product_avail == true
                  assign pre_order = true
                  assign sold_out = false
                else
                  assign pre_order = false
                  assign sold_out = true
                endif
              else
                assign pre_order = false
                assign sold_out = false
              endif
            else
              assign pre_order = false
              assign sold_out = false
            endif
          else
            assign prod = card_product.variants | where: 'option1', card_product.options_with_values[0].values[0]
            assign product_management = 'shopify'
            for p in prod
              assign product_qty = product_qty | plus: p.inventory_quantity
              if p.available
                assign product_avail = true
              endif
              if p.inventory_management == null
                assign product_management = 'null'
              endif
              assign compare_at_price = prod[0].compare_at_price
              assign price = prod[0].price
              if product_management != 'null'
                if product_qty < 1
                  if product_avail == true
                    assign pre_order = true
                    assign sold_out = false
                  else
                    assign pre_order = false
                    assign sold_out = true
                  endif
                else
                  assign pre_order = false
                  assign sold_out = false
                endif
              else
                assign pre_order = false
                assign sold_out = false
              endif
            endfor
          endif
        else
          assign product_management = 'shopify'
          for variant in card_product.variants
            assign product_qty = product_qty | plus: variant.inventory_quantity
            if variant.available == true
              assign product_avail = true
            endif
            if variant.inventory_management == null
              assign product_management = 'null'
            endif
          endfor
          assign compare_at_price = card_product.variants[0].compare_at_price
          assign price = card_product.variants[0].price
          if product_management != 'null'
            if product_qty < 1
              if product_avail == true
                assign pre_order = true
                assign sold_out = false
              else
                assign pre_order = false
                assign sold_out = true
              endif
            else
              assign pre_order = false
              assign sold_out = false
            endif
          else
            assign pre_order = false
            assign sold_out = false
          endif
        endif
      else
        assign product_qty = product_qty | plus: card_product.selected_or_first_available_variant.inventory_quantity
        assign product_avail = card_product.selected_or_first_available_variant.available
        assign product_management = card_product.selected_or_first_available_variant.inventory_management
        assign compare_at_price = card_product.selected_or_first_available_variant.compare_at_price
        assign price = card_product.selected_or_first_available_variant.price
        if product_management != null
          if product_qty < 1
            if product_avail == true
              assign pre_order = true
              assign sold_out = false
            else
              assign pre_order = false
              assign sold_out = true
            endif
          else
            assign pre_order = false
            assign sold_out = false
          endif
        else
          assign pre_order = false
          assign sold_out = false
        endif
      endif
    else
      assign compare_at_price = card_product.compare_at_price
      assign price = card_product.price
      if card_product.available != true
        assign sold_out = true
      endif
      for v in card_product.variants
        if v.inventory_quantity
          assign product_qty = product_qty | plus: v.inventory_quantity
        endif
      endfor
      if product_qty < 1 and card_product.available == true
        assign pre_order = true
        assign sold_out = false
      endif
      for v in card_product.variants
        if v.inventory_management == null
          assign pre_order = false
          assign sold_out = false
        endif
      endfor
    endif
    if compare_at_price > price and compare_at_price != blank
      assign sale = true
    endif
  endif

  assign product_create_at = card_product.created_at | date: '%s'
  assign now_timestamp = 'now' | date: '%s'
  assign diff_seconds = now_timestamp | minus: product_create_at
  assign diff_days = diff_seconds | divided_by: 3600 | divided_by: 24
  assign new_badge_display_period = theme_st.new_badge_display_period
  assign subscription = card_product.selling_plan_groups.size
  assign show_product_badges = true
  if sticky == 'sticky'
    assign show_product_badges = false
  endif
-%}
{%- if sale
  or sold_out
  or pre_order
  or card_product.metafields.custom.custom_product_badge
  or show_new
  or subscription > 0
-%}
  {% if show_product_badges %}
    {% comment %} Scrolling Custom Text {% endcomment %}
     {% if card_product.metafields.custom.custom_product_badge %}
        {% comment %} <div
          class="product__badges-custom product__badges-inner align-self-start px-15 pre-order inline-flex content-center subheading_weight text-center lh-normal"
          style="--badges-color: {{ settings.custom_badge_color }};--badges-bg:{{ settings.custom_badge_background }};"
        >
          {{ card_product.metafields.custom.custom_product_badge }}
        </div> {% endcomment %}
        {{ 'marquee.css' | asset_url | stylesheet_tag }}
        {% liquid
          assign p = compare_at_price | minus: price
          assign percent_number = p | append: '%'
          if p > 0
            assign p = p | times: 100.0 | divided_by: compare_at_price | round
            assign percent_number = p | append: '%'
          endif
        %}

        <div
          class="product__badges-sale-scrolling marquee flex overflow-hidden w-full justify-center fs-custom absolute inset-x-0 {% if is_detail_page %} badge-detail-page top-0 {% else %} bottom-0 {% endif %}pointer-none py-10 uppercase heading_weight"
          data-text-product-scrolling="{{ card_product.metafields.custom.custom_product_badge }}"
          style="--speed: 15s;--badges-color: {{ settings.custom_badge_color }};--badges-bg:{{ settings.custom_badge_background }};"
        >
          {%- for i in (0..4) -%}
            <div class="flex animation-marquee">
              {%- for i in (0..2) -%}
                <div class="flex gap align-center whitespace-nowrap rich__text-m0 lh-normal fs-small">
                  <span class="content-badges-scrolling">
                    {{- card_product.metafields.custom.custom_product_badge | replace: '[percent_sale]', percent_number -}}
                  </span>
                  {% render 'icon-lighting' %}
                </div>
              {%- endfor -%}
            </div>
          {%- endfor -%}
        </div>
      {% endif %}

    <div
      class="product__badges fs-small flex flex-column flex-wrap gap-custom {{ class }}"
      style="--gap: 3;"
      data-sale-color="{{ settings.sale_color }}"
      data-sold-out-color="{{ settings.sold_out_color }}"
      data-pre-order-color="{{ settings.pre_order_color }}"
      data-sale-bg="{{ settings.sale_background }}"
      data-sold-out-bg="{{ settings.sold_out_background }}"
      data-pre-order-bg="{{ settings.pre_order_background }}"
      data-show-sale="{{ show_sale }}"
      data-show-sold-out="{{ show_sold_out }}"
      data-show-preorder="{{ show_pre_order }}"
      data-sale-badge-type="{{ sale_badge_type }}"
    >
      {%- if sale and show_sale and sale_badge_type != 'scrolling' -%}
        <div
          class="product__badges-sale {% if sale_badge_type == 'price' %}product__badges-type-price{% elsif sale_badge_type == 'percent' %}product__badges-type-percent{% endif %} product__badges-inner align-self-start px-15 sale inline-flex content-center subheading_weight text-center lh-normal"
          style="--badges-color: {{ settings.sale_color }};--badges-bg:{{ settings.sale_background }};"
        >
        <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="17" height="17">
          <g id="Layer 1">
            <path id="Path 0" fill-rule="evenodd" fill="white" d="m237.5 26.11c-4.4 1.61-10.25 4.37-13 6.12-2.75 1.76-14.22 12.3-25.5 23.42-13.05 12.88-21.95 20.88-24.5 22.01-3.26 1.45-8.05 1.89-26 2.4-19.99 0.56-22.6 0.84-28.5 3.05-3.58 1.34-8.75 3.74-11.5 5.33-2.75 1.58-7.92 5.85-11.5 9.48-3.58 3.62-7.94 9.29-9.7 12.59-1.77 3.29-4.13 9.59-5.26 13.99-1.7 6.61-2.06 11.04-2.04 25.5 0.02 13.73-0.34 18.58-1.65 22.5-1.43 4.3-4.48 7.85-21.89 25.5-11.89 12.06-21.93 23.18-24.39 27-2.29 3.57-5.09 9.43-6.21 13-1.13 3.57-2.29 10.32-2.58 15-0.43 6.73-0.09 10.27 1.62 17 1.19 4.68 3.8 11.43 5.8 15 2.71 4.85 8.93 11.85 24.44 27.5 17.55 17.7 21.13 21.82 22.84 26.25 1.76 4.57 2.02 7.56 2.01 23-0.01 14.68 0.34 19.13 2.05 25.75 1.13 4.4 3.49 10.7 5.26 13.99 1.76 3.3 6.12 8.97 9.7 12.59 3.58 3.63 9.42 8.23 13 10.22 3.58 1.99 10.1 4.55 14.5 5.67 6.59 1.69 11.08 2.05 25.5 2.03 13.79-0.02 18.56 0.33 22.5 1.66 4.29 1.44 7.97 4.6 26 22.31 12.9 12.67 23.31 22.02 27 24.25 3.3 2 9.6 4.8 14 6.22 6.05 1.97 10.07 2.6 16.5 2.6 6.43 0 10.45-0.63 16.5-2.6 4.4-1.42 10.7-4.22 14-6.22 3.69-2.23 14.1-11.58 27-24.25 18.03-17.71 21.71-20.87 26-22.31 3.94-1.33 8.71-1.68 22.5-1.66 14.42 0.02 18.91-0.34 25.5-2.03 4.4-1.12 10.93-3.68 14.5-5.67 3.57-1.99 9.45-6.59 13.05-10.21 4.41-4.45 7.76-9.03 10.26-14.09 2.04-4.13 4.38-10.65 5.19-14.5 0.96-4.57 1.47-12.98 1.48-24.25 0.02-14.92 0.29-17.96 2.05-22.5 1.71-4.42 5.38-8.64 23.27-26.75 18.61-18.84 21.71-22.43 24.99-29 2.06-4.13 4.46-10.88 5.33-15 1.06-5.05 1.4-10.11 1.03-15.5-0.29-4.4-1.44-10.93-2.55-14.5-1.1-3.57-3.88-9.43-6.17-13-2.46-3.82-12.5-14.94-24.39-27-17.41-17.65-20.46-21.2-21.89-25.5-1.3-3.88-1.67-8.8-1.68-22 0-11.09-0.52-19.43-1.47-24-0.81-3.85-3.15-10.38-5.19-14.5-2.5-5.06-5.85-9.64-10.26-14.09-3.6-3.62-8.8-7.89-11.55-9.47-2.75-1.59-7.93-3.99-11.5-5.33-5.9-2.21-8.51-2.49-28.5-3.05-17.95-0.51-22.74-0.95-26-2.4-2.55-1.13-11.45-9.13-24.5-22.01-11.27-11.12-22.75-21.66-25.5-23.41-2.75-1.75-8.82-4.55-13.5-6.21-7.42-2.65-9.77-3.02-18.5-2.94-8.43 0.07-11.25 0.55-18 3.02zm11.31 29.76c1.48-0.45 5.39-0.67 8.69-0.48 3.7 0.2 7.73 1.2 10.5 2.61 2.78 1.41 12.72 10.37 26 23.42 17.62 17.32 22.67 21.72 28 24.37 3.57 1.78 9.65 3.89 13.5 4.7 4.55 0.96 12.95 1.48 24 1.5 9.35 0.01 18.57 0.45 20.5 0.96 1.93 0.52 5.71 2.43 8.42 4.25 3.28 2.21 5.93 5.12 11.08 14.3l0.59 22c0.51 18.69 0.92 22.98 2.73 28.5 1.17 3.57 4.04 9.43 6.37 13 2.38 3.65 12.92 15.28 24 26.5 16.51 16.72 20.08 20.86 21.78 25.25 1.12 2.89 2.03 7.05 2.03 9.25 0 2.2-0.91 6.36-2.03 9.25-1.7 4.4-5.24 8.49-21.84 25.25-11.48 11.58-21.58 22.74-24.02 26.5-2.31 3.57-5.15 9.43-6.31 13-1.78 5.48-2.21 9.94-3.31 50.5l-3 5.38c-1.64 2.96-4.79 6.77-6.99 8.47-2.2 1.69-6.02 3.67-8.5 4.38-2.94 0.85-10.58 1.29-22 1.27-14.46-0.02-18.89 0.34-25.5 2.03-4.4 1.14-10.25 3.27-13 4.75-3.17 1.7-12.89 10.43-26.5 23.81-12.59 12.37-23.36 22.11-26 23.49-3.57 1.89-6.04 2.37-12 2.37-5.96 0-8.43-0.48-12-2.37-2.64-1.38-13.41-11.12-26-23.49-13.61-13.38-23.33-22.11-26.5-23.81-2.75-1.48-8.6-3.61-13-4.75-6.61-1.69-11.04-2.05-25.5-2.03-11.42 0.02-19.06-0.42-22-1.27-2.47-0.71-6.3-2.69-8.5-4.38-2.2-1.7-5.34-5.51-9.97-13.85l-0.63-22c-0.52-18.41-0.96-23.06-2.71-28.5-1.15-3.57-3.99-9.43-6.31-13-2.39-3.7-12.91-15.34-24.39-27-18.23-18.51-20.36-21.03-21.98-26q-1.79-5.5-1.27-10.5c0.28-2.75 1.3-6.57 2.26-8.5 0.97-1.93 10.6-12.5 21.41-23.5 10.83-11.02 21.56-22.92 23.9-26.5 2.33-3.57 5.19-9.43 6.35-13 1.79-5.49 2.21-9.93 3.34-50.5l3.08-5.5c2.07-3.68 4.72-6.59 8-8.8 2.71-1.82 6.49-3.73 8.42-4.25 1.93-0.51 11.15-0.95 20.5-0.96 11.05-0.02 19.45-0.54 24-1.5 3.85-0.81 9.93-2.92 13.5-4.7 5.32-2.65 10.39-7.05 28-24.36 11.82-11.63 22.99-21.95 24.81-22.94 1.81-0.98 4.51-2.16 6-2.62zm-49.31 78.56c-3.3 0.7-8.42 2.57-11.38 4.17-2.96 1.59-7.01 4.28-9 5.97-1.99 1.69-5.56 5.97-7.93 9.5-2.37 3.54-5.19 9.35-6.27 12.93-1.15 3.82-1.96 9.39-1.95 13.5 0.01 3.85 0.74 9.47 1.63 12.5 0.89 3.02 2.7 7.64 4.01 10.25 1.32 2.61 4.3 6.85 6.64 9.41 2.34 2.56 6.5 6.11 9.25 7.89 2.75 1.78 7.93 4.22 11.5 5.44 5.46 1.85 8.19 2.15 17.05 1.86 9.81-0.33 11.09-0.61 18.25-4.1 4.8-2.34 9.69-5.73 12.98-9 2.96-2.95 6.83-8.32 8.84-12.25 2.16-4.26 4.06-9.94 4.84-14.5 1-5.85 1.02-9.04 0.12-14.5-0.64-3.85-2.54-9.93-4.22-13.5-1.7-3.6-5.42-8.95-8.34-12-2.9-3.03-7.92-6.94-11.15-8.69-3.23-1.76-8.8-3.89-12.37-4.74-3.57-0.85-8.75-1.51-11.5-1.48-2.75 0.04-7.7 0.64-11 1.34zm2.5 32.9c2.48-1.66 4.95-2.35 8.5-2.36 3.57-0.02 5.98 0.63 8.41 2.25 1.87 1.25 4.27 3.4 5.33 4.78 1.32 1.71 1.98 4.3 2.1 8.18 0.12 4.37-0.32 6.32-1.93 8.5-1.15 1.55-3.63 3.85-5.5 5.1-2.24 1.5-4.86 2.27-7.66 2.25-2.34-0.02-5.89-0.82-7.9-1.78-2-0.96-4.57-3.1-5.7-4.75-1.13-1.65-2.25-5.03-2.48-7.5-0.3-3.08 0.16-5.73 1.45-8.42 1.03-2.15 3.45-4.96 5.38-6.25zm121.5-0.43c-1.65 1.04-37.74 36.7-80.19 79.25-58.17 58.29-77.35 78.09-77.83 80.35-0.36 1.65-0.8 3.45-1 4-0.19 0.55 0.12 2.8 0.68 5 0.56 2.2 2.44 5.48 4.18 7.28 1.74 1.81 4.51 3.68 6.16 4.16 1.65 0.49 3.9 0.72 5 0.53 1.1-0.19 3.35-0.63 5-0.97 2.28-0.47 21.7-19.29 80.82-78.31 42.8-42.73 78.46-78.93 79.25-80.44 0.79-1.51 1.43-4.89 1.43-7.5-0.01-2.99-0.75-5.95-2-8-1.1-1.79-3.46-4.15-5.25-5.25-2.11-1.29-5.01-1.99-8.25-1.99-3.18 0-6.09 0.69-8 1.89zm-36 118.95c-3.3 0.94-8.14 2.93-10.75 4.43-2.61 1.49-7 4.97-9.75 7.72-2.98 2.98-6.41 7.92-8.5 12.25-2.16 4.49-3.86 9.91-4.46 14.25-0.62 4.55-0.61 9.45 0.03 14 0.54 3.85 2.32 9.81 3.96 13.25 1.63 3.44 5.11 8.57 7.72 11.41 2.61 2.84 7.23 6.79 10.25 8.78 3.02 2 8.43 4.45 12 5.44 4.81 1.34 8.84 1.7 15.5 1.4 6.35-0.29 10.76-1.11 15-2.79 3.3-1.31 8.7-4.43 12-6.93 3.58-2.72 7.74-7.18 10.32-11.06 2.37-3.57 5.19-9.43 6.27-13 1.16-3.86 1.94-9.35 1.92-13.5-0.02-3.85-0.64-9.25-1.37-12-0.74-2.75-2.47-7.25-3.86-10-1.39-2.75-4.76-7.48-7.5-10.5-2.74-3.02-7.63-6.93-10.88-8.69-3.24-1.75-8.6-3.89-11.9-4.75-3.3-0.86-9.15-1.54-13-1.49-3.85 0.04-9.7 0.84-13 1.78zm5.52 32.4c2.35-1.58 4.85-2.26 8.41-2.28 4.07-0.02 5.91 0.57 9.32 3 2.91 2.08 4.61 4.21 5.38 6.78 0.62 2.06 0.93 5.55 0.69 7.75-0.24 2.2-1.36 5.35-2.48 7-1.13 1.65-3.69 3.79-5.69 4.75-2.01 0.96-5.56 1.76-7.9 1.78-2.8 0.02-5.42-0.75-7.66-2.25-1.87-1.25-4.35-3.55-5.5-5.1-1.51-2.04-2.09-4.31-2.09-8.18 0-3.87 0.58-6.14 2.09-8.18 1.15-1.55 3.6-3.83 5.43-5.07z"/>
          </g>
        </svg>&nbsp            
          {%- assign p = compare_at_price | minus: price -%}
          {% if sale_badge_type == 'price' %}
            {{ 'products.product.save' | t }}
            {{- p | money -}}
          {% elsif sale_badge_type == 'percent' %}
            {%- if p > 0 -%}
              {%- assign p = p | times: 100.0 | divided_by: compare_at_price | round -%}
            {%- endif -%}
            {{- p -}}
            % OFF
          {% else %}
            {{ 'products.product.label.sale_label' | t }}
          {%- endif %}
        </div>
      {%- endif -%}
      {%- if sold_out and show_sold_out -%}
        <div
          class="product__badges-sold-out product__badges-inner align-self-start px-15 sold-out inline-flex content-center subheading_weight text-center lh-normal"
          style="--badges-color: {{ settings.sold_out_color }};--badges-bg:{{ settings.sold_out_background }};"
        >
          {{ 'products.product.sold_out' | t }}
        </div>
      {%- else -%}
        {%- if pre_order and show_pre_order -%}
          <div
            class="product__badges-pre-order product__badges-inner align-self-start px-15 pre-order inline-flex content-center subheading_weight text-center lh-normal"
            style="--badges-color: {{ settings.pre_order_color }};--badges-bg:{{ settings.pre_order_background }};"
          >
            {{ 'products.product.pre_order' | t }}
          </div>
        {%- endif -%}
      {%- endif -%}
      {% if show_new and diff_days < new_badge_display_period %}
        <div
          class="product__badges-new product__badges-inner align-self-start px-15 pre-order inline-flex content-center subheading_weight text-center lh-normal"
          style="--badges-color: {{ settings.new_color }};--badges-bg:{{ settings.new_background }};"
        >
          {{ 'products.product.label.new_label' | t }}
        </div>
      {% endif %}
      
      {% if subscription > 0 %}
        <div
          class="product__badges-custom subscription product__badges-inner align-self-start px-15 pre-order inline-flex content-center subheading_weight text-center lh-normal"
          style="--badges-color: #111;--badges-bg: #F8BA26;"
        >
          {{- 'products.product.label.subscription' | t -}}
        </div>
      {% endif %}
    </div>
    {% if type == 'product_item' %}
      {% if sale and sale_badge_addons == 'countdown' and card_product.metafields.custom.countdown_timer %}
        {{ 'countdown.css' | asset_url | stylesheet_tag }}
        <div
          class="hidden product__badges-sale-countdown transition btn {% if countdown_style == 'normal' %}bg-white{% endif %} shadow text-center content-center absolute z-5  left-1025-15 right-1025-15  bottom-1025-15  max-w-custom mx-auto fadeIn {{ countdown_style }}"
          style="--countdown-text-weight: var(--heading-weight);--btn-padding-y: {% if countdown_style == 'normal' %} 1.15rem {% else %} 1rem 0rem {%endif%}; --max-width: {% if countdown_style == 'normal' %}19rem {% else %} 100% {% endif %} ;"
        >
          <countdown-timer
            class="hidden {% if countdown_style == 'normal' %} primary-color{% endif %} flex flex-wrap fs-14 heading_weight {{ countdown_style }}"
            data-endtime="{{ card_product.metafields.custom.countdown_timer }}"
            data-days="{{ 'products.product.countdown.day' | t }}"
            data-hours="{{ 'products.product.countdown.hour' | t }}"
            data-mins="{{ 'products.product.countdown.min' | t }}"
            data-secs="{{ 'products.product.countdown.sec' | t }}"
          >
          </countdown-timer>
        </div>
      {% endif %}
      {% if sale and sale_badge_addons == 'scrolling' and scrolling_text != blank %}
        {{ 'marquee.css' | asset_url | stylesheet_tag }}
        {% liquid
          assign p = compare_at_price | minus: price
          assign percent_number = p | append: '%'
          if p > 0
            assign p = p | times: 100.0 | divided_by: compare_at_price | round
            assign percent_number = p | append: '%'
          endif
        %}
        <div
          class="product__badges-sale-scrolling marquee flex overflow-hidden w-full justify-center fs-custom absolute inset-x-0 bottom-0 pointer-none py-10 uppercase heading_weight"
          data-text-product-scrolling="{{ scrolling_text }}"
          style="--speed: 15s;--badges-color: {{ settings.scrolling_color }};--badges-bg:{{ settings.scrolling_background }};"
        >
          {%- for i in (0..4) -%}
            <div class="flex animation-marquee">
              {%- for i in (0..2) -%}
                <div class="flex gap align-center whitespace-nowrap rich__text-m0 lh-normal fs-small">
                  <span class="content-badges-scrolling">
                    {{- scrolling_text | replace: '[percent_sale]', percent_number -}}
                  </span>
                  {% render 'icon-lighting' %}
                </div>
              {%- endfor -%}
            </div>
          {%- endfor -%}
        </div>
      {% endif %}
    {% endif %}
  {% endif %}
{%- endif -%}
