{% comment %}
  Snippet: Size Pills Filter
  Description: Displays a list of size pills for filtering the collection.
  Usage: {% render 'size-pills-filter', results: collection %}
{% endcomment %}


{%- liquid
  assign size_label = section.settings.size_filter_label | default: 'Tamanhos' | downcase
  assign size_filter = blank
  
  for filter in results.filters
    assign filter_label = filter.label | downcase
    {{ filter_label | prepend: 'filter_label: ' }}
    {{ size_label | prepend: 'size_label: ' }}
    if filter_label == size_label
      assign size_filter = filter
      break
    endif
  endfor
-%}


{%- if size_filter != blank and size_filter.values.size > 0 -%}
  <div class="size-pills-unique-container mb-30">
    <div class="size-pills-label mb-10 subheading_weight">{{ size_filter.label }}</div>
    <div class="size-pills-wrapper flex flex-wrap gap-10">
      {%- for value in size_filter.values -%}
        {%- if value.count > 0 or value.active -%}
          {%- liquid
            assign target_url = value.url_to_add
            unless value.active
              unless target_url contains 'filter.v.availability'
                assign target_url = target_url | append: '&filter.v.availability=1'
              endunless
            else
              assign target_url = value.url_to_remove
            endunless
          -%}
          <a
            href="{{ target_url }}"
            class="size-pill-item transistion {% if value.active %}active{% endif %}"
            title="{{ value.label }}"
          >
            {{ value.label }}
          </a>
        {%- endif -%}
      {%- endfor -%}
    </div>
  </div>
{%- endif -%}
